<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ldy.study"
    android:versionCode="10"
    android:versionName="V2.0.0_20190826">

    <application
        android:name="com.app.BaseApplication"
        android:exported="false"
        android:icon="@drawable/ic_application_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name="com.example.function.study.A_了解JAVA.G_java之反射.ReflectActivity"></activity>
        <activity android:name="com.example.function.study.G_了解框架.面向切面和依赖注入框架.ButterKnifeActivity" />
        <activity android:name="com.example.function.study.E_设计模式.DesignPatternActivity" />
        <activity android:name="com.example.function.study.A_了解JAVA.E_java之线程和线程池.Day11_Activity" />
        <activity android:name="com.example.function.study.G_了解框架.MVC框架.view.MVCActivity" />
        <activity android:name="com.example.function.View.compos.ComposSettingActivity" />
        <activity android:name="com.example.function.View.compos.ComposShowActivity" />
        <activity android:name="com.example.function.study.A_了解JAVA.TestActivity" />
        <activity android:name="com.example.function.doubleScreenDisplay.AdvertisingActivity" />
        <activity android:name="com.example.function.study.C_业务代码.A_异步任务栈.Day13_Activity" />
        <activity android:name="com.example.function.study.C_业务代码.E_网络请求.Day14_Activity" />
        <activity android:name="com.example.function.study.B_界面视图.I_Fragment的加载与传值.Day12_Activity" />
        <activity android:name="com.example.function.algorithm.Md5Activity" />
        <activity android:name="com.example.function.algorithm.SM4_Activity" />
        <activity android:name="com.example.function.UndeterminedActivity" />
        <activity android:name="com.example.function.algorithm.SM2_Activity" />
        <activity android:name="com.example.function.comprehensive.upLogActivity" />
        <activity android:name="com.example.function.View.Menu.View_Menu_Activity" />
        <activity android:name="com.example.function.View.Login.View_Login_Activity" />
        <activity android:name="com.example.function.View.Amount.View_InputAmount_Activity" />
        <activity android:name="com.example.function.algorithm.RSA_Activity" />
        <activity android:name="com.example.function.comprehensive.CalcPWD_Activity" />
        <activity android:name="com.example.function.study.B_界面视图.C_视图view_自定义控件.Day6_Activity" />
        <activity android:name="com.example.function.study.B_界面视图.B_视图view_创建控件view和布局ViewGroup.Day5_Activity" />
        <activity android:name="com.example.function.study.B_界面视图.A_组件activity_调用传值和回传.B_activity" />
        <activity android:name="com.example.function.study.B_界面视图.D_创建listview并通过Adapter注入数据.Day7_ArrayAdapter_listView_Activity" />
        <activity android:name="com.example.function.study.B_界面视图.D_创建listview并通过Adapter注入数据.Day7_LeftSlide_listView_Activity" />
        <activity android:name="com.example.function.study.B_界面视图.E_进度条ProgressBar.Day8_Activity" />
        <activity android:name="com.example.function.study.B_界面视图.F_对话框Dialog.Day9_Activity" />
        <activity android:name="com.example.function.study.B_界面视图.G_popupWindow和contextMenu.Day10_Activity" />
        <activity android:name="com.example.function.algorithm.SokobanActivity" /> <!-- <activity -->
        <!-- android:name="com.example.main.MainActivity" -->
        <!-- android:icon="@drawable/icon_bq_3" -->
        <!-- android:label="@string/title_activity_main"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.example.main.ExpandableMainActivity"
            android:icon="@drawable/icon_bq_3"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.function.scan.idcard.one.IdCardMainActivity"
            android:icon="@drawable/icon_bq_2"
            android:label="扫描银行卡获取卡号" />
        <activity android:name="com.example.function.scan.idcard.one.smartvision_bankCard.ScanCamera">
            <intent-filter>
                <action android:name="wintone.bankCard.scan_camera" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.function.scan.idcard.one.ShowResult"
            android:icon="@drawable/icon_bq_4" />
        <activity
            android:name="com.example.function.study.B_界面视图.A_组件activity_调用传值和回传.A_activity"
            android:icon="@drawable/icon_bq_5" />
        <activity
            android:name="com.example.function.jni.jniTest.JniTestActivity"
            android:icon="@drawable/icon_bq_6"
            android:label="@string/title_jni_test" />
    </application> <!-- 摄像头设备权限 -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- socket套接字对外权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>